/*
-   Digittrix " Assignment Task "
-	Design & Developed by Mayank
-	CSS : ./src/css/style.css
*/

*{
    border: none;
    outline: none;
}

/*
    ----------------------
    | Bootstrap ICON URL |
    ----------------------
*/
@import url(../assets/bootstrap-icons.min.css);

:root{
    --bs-white:#ffffff;
    --bg:#204EA2;
}

/*
    comman css --------------------------
*/

.bi
{
    font-size: 1em;
    color: var(--bs-white);
}
.text-blue
{
    color:#204EA2;
}
.bg-blue
{
    background: #204EA2;
}

.heading
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.heading .h6
{
    font-weight: 550;
}
section
{
    /* background: var(--bs-light); */
}

/*
    nav section ------------------------
*/

.icon
{
    width: 20px;
    height: auto;
    object-fit: contain;
}

#logo
{
    font-size: 30px;
}
#logo .icon
{
    width: 30px;
}

#nav .icon2
{
    margin: 0 1rem;
    width: 30px;
    height: 30px;
    top: 35px;
    left: 1441px;
    gap: 0px;
    opacity: 0px;

}
#link1
{
    text-decoration: none !important;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    text-align: left;
}
.last
{
    justify-content: flex-end;
}

#location
{
    width: 160px;
    height: auto;
    margin: 0 30px;
    padding: 0.5rem 1rem;
    font-weight: 600;
    color:var(--bs-white);
    background: transparent;
    border: 1px solid var(--bs-white);
    border-radius: 10px;
}
.user-icon
{
    width: 129px;
    height: 50px;
    top: 25px;
    left: 1491px;
    gap: 0px;
    opacity: 0px;

}
#navBgImage
{
    
}

/*
    header section -----------------------
*/
#header #student-img
{
    margin-top: 3rem;
}

#header #bar
{
    display: flex;
    width: 90%;
    border-radius: 10px;
}
#header #bar #search
{
    width:100% ;
    margin: 0 10px;
    padding-left: 1rem;
    font-size: 1.2rem;
}

.write
{
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 600;
    line-height: 36.57px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}
#header .last
{
    position: relative;
    /* border: 1px solid green ;  */
}

#header #diegoStudent
{
    position: absolute;
    bottom: 5%;
    right: 10%;
}
/*
    footer css ----------------------
*/
#bottomLogo
{
    width: 153px;
    height: auto;
    object-fit: contain;
}
#linklist1, #linklist2
{
    padding: 2rem 0;
    border-bottom: 1px solid var(--bs-white);
}
#linklist1 p
{
    padding: 1rem 3rem 1rem 0;
    line-height: 30px;
}
#linklist1 h5
{
    padding: 1rem 0;
}
#linklist1 .linkbox a
{
    font-weight: 500;
    line-height: 2rem;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
#linklist2 h6
{
    font-weight: bold;
    line-height: 30px;
}
#linklist2 .linkbox a
{
    display: block;
    padding: 5px 0;
    text-decoration: none;
    color:var(--bs-white);
    font-size: small;
}
#copyright
{
    background: #0C4197;
}

#social a
{
    margin: 2rem 0;
    display: inline-block;
}
/*
    testimonial css --------------------
*/

#testimonial .row .col
{
    display: grid;
}

.testimonialBox
{
    position: relative;
    height: 200px;
    margin: 1rem 0;
}
.testimonial_head .img-thumbnail
{
    object-fit: cover;
    padding: 5px;
    width: 100% !important;
    aspect-ratio: 1/1   ;
}
.testimonial_head h5
{
    margin-top: 20px;
    font-weight: bold;
}
.testimonial_head
{
    position: absolute;
    z-index: 5;
    /* margin-bottom: -30px; */
}
.testimonial_body
{
    position: absolute;
    z-index: 0;
    bottom:0;
    height: auto;
    padding:2rem 1rem 0.5rem 1rem;
    background: var(--bs-white);
    box-shadow: 1px 1px 5px #343a40;
    border-radius: 10px;
}
/*
    blog css --------------------------
*/
.blogBox
{
    margin: 1rem 0;
    background: transparent;
    border: none;
}
.blogBox .card-body
{
    padding: 1rem 0;
    height: 220px;
}
.blogBox .card-body .card-text
{
    height: 100px;
}
/*
    consultant css -------------------
*/
.consultantBox
{
    margin: 1rem auto;
}
.consultantBox .card-img
{
    padding: 5px;
}
.consultantBox .btn
{
    font-weight: bold;
}
/*
    institute css --------------------
*/
.instituteBox
{
    margin: 1rem auto;
    overflow: hidden;
    position: relative;
    height: 350px;
    width: 100%;
    background: red;
    border-radius: 10px;
}
.instituteBox .inst_img
{
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 0;
}
.instituteBox .detail_box
{
    padding: 10px;
    position: absolute;
    z-index: 3;
    bottom:0;
    /* height: 100%; */
    /* background: ; */
    background: linear-gradient(to top, #000000, rgba(52, 58, 64, 0.1));
}
.instituteBox h5
{
    /* font-size: 1.2rem; */
    font-weight:bolder;
    /* line-height: 2rem; */
}
.instituteBox a
{
    font-size: 16px;
    padding: 10px 0;
    text-decoration: none;
}
/*
    add css --------------------------
*/
#add1
{
    background: url();
}

/*
    ==================
    [ RESPONSIVE CSS ] -----------------
    ==================
*/

@media screen and (max-width:960px) {
/*     
    section
    {
        background: green;
    } */
    #blog .heading .frist h4,
    .sideheading .first h4,
    #consultant .sideheading h4
    {
        font-size: 1.3rem;
        color: var(--bs-dark) !important;
    }
    .sideheading .first .card-text,
    #consultant .sideheading .card-text
    {
        display: none !important;
    }

    .responsiveRule
    {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        scroll-snap-type: x mandatory ;
    }
    .responsiveRule::-webkit-scrollbar,
    .responsiveRule::-webkit-scrollbar-thumb
    {
        background: transparent !important;
    }

    .responsiveRule > div
    {
        margin: 10px;
        width: 300px !important;
        scroll-snap-type: y mandatory ;
    }
    #testimonial .responsiveRule > div
    {
        width: 400px !important;
        scroll-snap-type: y mandatory ;
    }
    #consultant .responsiveRule > div
    {
        width: 300px;
        scroll-snap-type: y mandatory ;
    }
    #institute .responsiveRule > div
    {
        width: 300px !important;
        scroll-snap-type: y mandatory ;
    }
    .instituteBox
    {
        width: 300px;
    }
    .blogBox
    {
        width: 300px;
    }

}

@media screen and (max-width:720px) {
/*     
    section{
        background: red;
    } */
    #header
    {
        display: none;
    }
}

@media screen and (max-width:576px) {
    

    /* section{
        background: yellow;
    } */
    #footer
    {
        display: none;
    }
}

/*
    the end ===========================
*/